@model IEnumerable<CadastroLivros.Models.Livro>

@{
    ViewData["Title"] = "Lista de livros";
}
<div class="row">
    <div class="col">
        <h1>Lista de livros cadastrados</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            <a class="btn btn-primary" asp-action="Create">Cadastrar novo livro</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            R$@Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Livros cadastrados: @Model.Count()</p>
    </div>
    <div class="col">
        <p>Valor Médio dos Livros: R$@((Model.Sum(m => m.Preco) / Model.Count()).ToString("F2"))</p>
    </div>
</div>
